/*** 
	BFL2.0 DESIGN ELEMENTS 

	- Colors
***/
/* Fonts */
@font-face {
  font-family: "brandon-medium";
  src: url("../fonts/brandon-medium/BrandonText-Medium.woff2") format("woff2"), url("../fonts/brandon-medium/BrandonText-Medium.woff") format("woff"), url("../fonts/brandon-medium/BrandonText-Medium.ttf") format("truetype"); }

/* Colors */
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'brandon-medium', sans-serif; }

/* Backgrounds */
.gray-bg {
  background: #b7b7b7;
  color: #ffffff; }

/* Text Colors */
.blue-txt {
  color: #66cce8; }

.orange-txt {
  color: #f68b20; }

.red-txt {
  color: #e21e24; }

.green-txt {
  color: #269574; }

/* Buttons */
.blue-btn {
  background: #66cce8;
  color: #ffffff; }

.blue-btn:hover {
  background: #28a196;
  color: #ffffff; }

.normal-btn {
  color: #53585a;
  font-family: 'brandon-regular', sans-serif;
  padding: 0 0;
  text-transform: uppercase;
  font-size: 0.9em; }
  .normal-btn .fa {
    color: #66cce8;
    position: relative;
    top: -1px;
    font-size: 0.8em; }
  .normal-btn:hover {
    color: #abb1b3; }

button {
  background: none;
  border: none; }
  button:focus {
    outline: none !important;
    outline-color: transparent !important;
    outline-offset: 0 !important; }

.sliding-btn {
  text-transform: uppercase;
  font-size: 1.1em;
  font-family: 'brandon-regular', sans-serif;
  text-align: center;
  padding: 12px 25px;
  position: fixed;
  bottom: 0;
  right: -275px;
  color: #ffffff;
  background: rgba(12, 12, 13, 0.85);
  transition: background 0.2s ease 0.2s; }
  .sliding-btn .fa {
    color: #66cce8;
    padding-right: 12px; }
  .sliding-btn:focus {
    outline: 0; }
  .sliding-btn:hover {
    background: #0c0c0d; }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #abb1b3;
  -webkit-text-fill-color: #53585a;
  -webkit-box-shadow: 0 0 3px 0 #abb1b3 inset;
  transition: background-color 5000s ease-in-out 0s; }

/*** BASICS ***/
.nopadding {
  padding: 0 !important; }

/*** NAVIGATION / HEADER ***/
.navbar-default .navbar-left img {
  padding: 15px 0; }

.navbar-default .navbar-nav {
  margin-top: 15px;
  position: relative;
  bottom: -14px;
  font-size: 24px; }
  .navbar-default .navbar-nav li a {
    padding: 23px 30px 22px;
    cursor: pointer; }
    .navbar-default .navbar-nav li a:hover {
      color: #66cce8; }
    .navbar-default .navbar-nav li a .fa {
      font-size: 0.55em;
      position: relative;
      bottom: 4px; }
  .navbar-default .navbar-nav li.last a {
    /* color: $lightblue; */ }
  .navbar-default .navbar-nav li.active a {
    color: #66cce8 !important;
    background: none; }
    .navbar-default .navbar-nav li.active a:hover {
      background: none; }
  .navbar-default .navbar-nav li.current-menu-parent a {
    color: #66cce8; }
  .navbar-default .navbar-nav li.current-menu-parent li a {
    color: #ffffff; }
  .navbar-default .navbar-nav .open a:hover {
    color: #66cce8; }
  .navbar-default .navbar-nav .dropdown-menu {
    top: 65px;
    font-size: 24px; }
    .navbar-default .navbar-nav .dropdown-menu li a {
      padding-top: 15px;
      padding-bottom: 15px; }

/*** HOMEPAGE BUILDERS ***/
.homepage-builders {
  padding: 20px 0; }
  .homepage-builders .builder {
    text-align: left; }
    .homepage-builders .builder .aligncenter {
      margin-bottom: 15px; }
    .homepage-builders .builder h1 {
      font-size: 1.3em;
      margin: 0; }
    .homepage-builders .builder p {
      margin-bottom: 5px; }
      .homepage-builders .builder p strong {
        font-weight: normal;
        text-transform: uppercase;
        font-family: 'brandon-regular', sans-serif; }
      .homepage-builders .builder p em {
        font-family: 'brandon-bold', sans-serif;
        color: #abb1b3;
        text-transform: uppercase;
        font-style: normal; }
    .homepage-builders .builder a {
      color: #53585a;
      text-transform: uppercase;
      font-size: 0.9em; }
      .homepage-builders .builder a .blue-txt {
        color: #66cce8; }
      .homepage-builders .builder a:hover {
        color: #abb1b3; }

/*** HOMEPAGE PROMOTIONS ***/
.homepage-promos {
  position: relative; }
  .homepage-promos .carousel-controls {
    position: absolute;
    top: 88%;
    width: 100%;
    height: 60px;
    text-align: center; }
    .homepage-promos .carousel-controls .carousel-control {
      width: 5%;
      background: none; }
      .homepage-promos .carousel-controls .carousel-control.left {
        left: 45%; }
      .homepage-promos .carousel-controls .carousel-control.right {
        right: 45%; }
  .homepage-promos .carousel-caption {
    width: 35%;
    bottom: 18%;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'dense-regular', sans-serif;
    text-shadow: none; }
    .homepage-promos .carousel-caption.left {
      text-align: left;
      right: auto;
      left: 2.5%; }
    .homepage-promos .carousel-caption.right {
      text-align: right;
      right: 2.5%;
      left: auto; }
    .homepage-promos .carousel-caption.light {
      color: #ffffff; }
      .homepage-promos .carousel-caption.light .default-btn {
        background: #ffffff;
        color: #53585a; }
      .homepage-promos .carousel-caption.light .outline-btn {
        background: transparent;
        color: #ffffff;
        border: 1px solid #ffffff; }
    .homepage-promos .carousel-caption.dark {
      color: #53585a; }
      .homepage-promos .carousel-caption.dark .default-btn {
        background: #53585a;
        color: #ffffff; }
      .homepage-promos .carousel-caption.dark .outline-btn {
        background: rgba(255, 255, 255, 0.6);
        color: #53585a;
        border: 1px solid #53585a; }
      .homepage-promos .carousel-caption.dark a {
        color: #53585a; }
    .homepage-promos .carousel-caption .promo-title {
      font-size: 7.25em;
      line-height: 0.8em;
      margin: 0 0 12px;
      font-family: 'dense-regular', sans-serif; }
    .homepage-promos .carousel-caption p {
      font-size: 1.5em;
      line-height: 1.25em;
      font-weight: lighter; }
    .homepage-promos .carousel-caption a {
      text-transform: uppercase;
      font-size: 1.5em;
      color: #ffffff; }
      .homepage-promos .carousel-caption a .fa {
        font-size: 0.7em;
        color: #66cce8;
        position: relative;
        top: -2px;
        padding-right: 4px; }
    .homepage-promos .carousel-caption .promo-btns {
      margin-top: 15px; }
      .homepage-promos .carousel-caption .promo-btns .btn {
        border-radius: 0;
        font-family: 'dense-regular', sans-serif;
        font-size: 1.5em;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: 10px; }
        .homepage-promos .carousel-caption .promo-btns .btn:hover {
          opacity: 0.5; }

.builder-form {
  border: none;
  margin: 0;
  padding: 0; }
  .builder-form h2 {
    color: #66cce8; }
  .builder-form p {
    font-family: 'brandon-regular', sans-serif;
    font-size: 1em;
    clear: both; }
  .builder-form .form-group .row {
    margin-bottom: 12px; }
  .builder-form .form-group label {
    color: #53585a;
    font-family: 'brandon-regular', sans-serif;
    font-size: 0.9em;
    font-weight: normal; }
    .builder-form .form-group label .red,
    .builder-form .form-group label .required {
      color: #66cce8; }
  .builder-form .form-group .form-control {
    color: #53585a; }
  .builder-form input[type=checkbox]:not(old):checked + label > span:before {
    content: '';
    display: block;
    width: 1em;
    color: #66cce8;
    font-size: .875em;
    line-height: 1em;
    text-align: center;
    text-shadow: 0 0 0.714em #9b994d; }
  .builder-form input[type=radio]:not(old):checked + label > span > span {
    display: block;
    width: 1em;
    height: 1em;
    margin: 0;
    border: 0.0625em solid #66cce8;
    border-radius: 2em;
    background: #66cce8; }
  .builder-form input[type=checkbox]:not(old):checked + label > span > span {
    display: block;
    width: 1em;
    height: 1em;
    margin: 0;
    border: 0.0625em solid #66cce8;
    border-radius: .125em;
    background: #66cce8; }
  .builder-form .normal-btn {
    font-size: 1.2em; }
  .builder-form .required-text {
    text-transform: uppercase;
    font-size: 0.95em; }
    .builder-form .required-text .red {
      color: #66cce8; }

/*** BUILDER PAGES ***/
.page-hero .hero-caption {
  left: 15px;
  right: auto; }

.page-hero .builder-caption {
  text-align: left; }

.transition-timer-carousel-progress-bar {
  height: 4px;
  background-color: #66cce8;
  width: 0%;
  margin: 0;
  border: none;
  z-index: 11;
  position: relative;
  opacity: 0.5;
  bottom: 4px; }

.carousel-fade .carousel-inner .item {
  transition-property: opacity; }

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0; }

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1; }

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0); }

.homebuilder-section .homebuilder-models #model-carousel .carousel-indicators {
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 100%; }
  .homebuilder-section .homebuilder-models #model-carousel .carousel-indicators li {
    background: transparent;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
    position: relative; }
    .homebuilder-section .homebuilder-models #model-carousel .carousel-indicators li img {
      display: block; }
    .homebuilder-section .homebuilder-models #model-carousel .carousel-indicators li .thumb-mask {
      background: #000000;
      opacity: 0.75;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: opacity 0.2s ease 0.2s; }
    .homebuilder-section .homebuilder-models #model-carousel .carousel-indicators li:hover .thumb-mask, .homebuilder-section .homebuilder-models #model-carousel .carousel-indicators li.active .thumb-mask {
      opacity: 0; }

.homebuilder-section .homebuilder-models #model-carousel .carousel-caption {
  text-align: left;
  padding-left: 15px;
  left: 0%;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
  line-height: 1.45em;
  text-shadow: none;
  background: rgba(13, 12, 12, 0.88);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(13, 12, 12, 0) 0%, rgba(13, 12, 12, 0.88) 80%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(13, 12, 12, 0) 0%, rgba(13, 12, 12, 0.88) 80%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(13, 12, 12, 0) 0%, rgba(13, 12, 12, 0.88) 80%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsla(0,5%,5%,0.35)', endColorstr='hsla(0,5%,5%,0.88)',GradientType=0 );
  /* IE6-9 */ }
  .homebuilder-section .homebuilder-models #model-carousel .carousel-caption strong {
    font-family: 'brandon-bold', sans-serif;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: normal; }
  .homebuilder-section .homebuilder-models #model-carousel .carousel-caption .details p {
    margin: 4px 0 0; }

.homebuilder-section .homebuilder-sidebar {
  padding-left: 4%;
  padding-right: 4%; }
  .homebuilder-section .homebuilder-sidebar .blue-txt {
    color: #66cce8; }
  .homebuilder-section .homebuilder-sidebar .hours .blue-txt {
    color: #53585a;
    font-family: 'brandon-medium', sans-serif; }
  .homebuilder-section .homebuilder-sidebar .pricing {
    color: #abb1b3; }
  .homebuilder-section .homebuilder-sidebar .builder-btn {
    color: #53585a;
    text-transform: uppercase; }
    .homebuilder-section .homebuilder-sidebar .builder-btn .fa {
      color: #66cce8;
      position: relative;
      top: -0px;
      font-size: 0.8em; }
    .homebuilder-section .homebuilder-sidebar .builder-btn:hover {
      color: #abb1b3; }

.homebuilder-contents h2 {
  color: #66cce8; }

.homebuilder-qmis {
  padding-bottom: 50px; }
  .homebuilder-qmis .quickmove-intro {
    padding-bottom: 25px; }
    .homebuilder-qmis .quickmove-intro h1 {
      color: #66cce8;
      font-size: 1.5em; }
    .homebuilder-qmis .quickmove-intro p {
      font-size: 1.05em;
      padding-right: 5%; }
  .homebuilder-qmis .builder-homes .builder-home {
    font-size: 0.9em;
    line-height: 1.45em;
    text-align: center; }
    .homebuilder-qmis .builder-homes .builder-home strong {
      text-transform: uppercase;
      font-family: 'brandon-medium', sans-serif;
      font-weight: normal;
      font-size: 1.1em;
      color: #66cce8; }
    .homebuilder-qmis .builder-homes .builder-home .address-price {
      font-family: 'brandon-medium', sans-serif;
      color: #53585a; }
      .homebuilder-qmis .builder-homes .builder-home .address-price strong {
        color: #abb1b3; }
    .homebuilder-qmis .builder-homes .builder-home .builder-btn {
      color: #53585a;
      text-transform: uppercase; }
      .homebuilder-qmis .builder-homes .builder-home .builder-btn .fa {
        color: #66cce8;
        position: relative;
        top: -1px;
        font-size: 0.8em; }
      .homebuilder-qmis .builder-homes .builder-home .builder-btn:hover {
        color: #abb1b3; }

/*** SUBPAGES ***/
.homes-hero {
  position: relative; }
  .homes-hero .hero-caption {
    position: absolute;
    text-align: right;
    bottom: 15px;
    right: 15px !important;
    left: auto !important; }
    .homes-hero .hero-caption .hero-title {
      font-family: 'dense-regular', sans-serif;
      font-size: 6em;
      color: #ffffff; }

.page-contents .page-title,
.page-contents .page-subtitle {
  color: #66cce8; }

.page-contents .page-subtitle {
  font-size: 1.65em;
  text-align: left; }

.page-contents a {
  color: #66cce8;
  text-transform: uppercase;
  font-size: 1em; }
  .page-contents a .fa {
    font-size: 0.8em;
    color: #66cce8; }
  .page-contents a .blue-txt {
    color: #66cce8; }
  .page-contents a:hover {
    color: #abb1b3; }

.page-contents p a {
  color: #53585a; }

.page-contents .builder-list .builder {
  text-align: left; }
  .page-contents .builder-list .builder .aligncenter {
    margin-bottom: 15px; }
  .page-contents .builder-list .builder h1 {
    font-size: 1.18em;
    margin: 0; }
  .page-contents .builder-list .builder p {
    margin-bottom: 5px; }
    .page-contents .builder-list .builder p strong {
      font-weight: normal;
      text-transform: uppercase;
      font-family: 'brandon-regular', sans-serif; }
    .page-contents .builder-list .builder p em {
      font-family: 'brandon-bold', sans-serif;
      color: #abb1b3;
      text-transform: uppercase;
      font-style: normal; }
    .page-contents .builder-list .builder p.builder-hours {
      font-size: 0.9em;
      line-height: 1.25em;
      text-align: left; }
  .page-contents .builder-list .builder a {
    color: #53585a;
    text-transform: uppercase;
    font-size: 1em; }
    .page-contents .builder-list .builder a .fa {
      font-size: 0.8em; }
    .page-contents .builder-list .builder a .blue-txt {
      color: #66cce8; }
    .page-contents .builder-list .builder a:hover {
      color: #abb1b3; }

.page-contents .quickmove-table .builder-header .builder-description {
  padding-top: 15px; }
  .page-contents .quickmove-table .builder-header .builder-description .builder-name {
    font-size: 1.1em; }
  .page-contents .quickmove-table .builder-header .builder-description span {
    font-size: 0.9em; }
    .page-contents .quickmove-table .builder-header .builder-description span.phone {
      color: #abb1b3; }

.page-contents .quickmove-table .builder-homes .builder-home {
  font-size: 0.9em;
  line-height: 1.45em;
  text-align: center; }
  .page-contents .quickmove-table .builder-homes .builder-home strong {
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'brandon-medium', sans-serif;
    font-weight: normal;
    color: #66cce8; }
  .page-contents .quickmove-table .builder-homes .builder-home .address-price {
    font-family: 'brandon-medium', sans-serif;
    color: #53585a; }
    .page-contents .quickmove-table .builder-homes .builder-home .address-price strong {
      color: #abb1b3;
      font-size: 0.9em; }
  .page-contents .quickmove-table .builder-homes .builder-home .builder-btn {
    color: #53585a;
    text-transform: uppercase; }
    .page-contents .quickmove-table .builder-homes .builder-home .builder-btn .fa {
      color: #66cce8;
      position: relative;
      top: -1px;
      font-size: 0.8em; }
    .page-contents .quickmove-table .builder-homes .builder-home .builder-btn:hover {
      color: #abb1b3; }

.page-events {
  padding-bottom: 50px; }
  .page-events .event {
    text-align: center; }
    .page-events .event img.aligncenter {
      margin-bottom: 15px; }
    .page-events .event .event-details {
      padding-left: 5%;
      padding-right: 5%; }
      .page-events .event .event-details .event-title {
        color: #66cce8;
        font-size: 1.2em;
        margin: 12px 0; }
      .page-events .event .event-details .event-btn {
        color: #53585a;
        text-transform: uppercase; }
        .page-events .event .event-details .event-btn .fa {
          color: #66cce8;
          position: relative;
          top: -1px;
          font-size: 0.8em; }
        .page-events .event .event-details .event-btn:hover {
          color: #abb1b3; }

.offer-grid .offer-row {
  margin-bottom: 40px; }

.offer-grid .offer-graphic {
  position: relative; }
  .offer-grid .offer-graphic .offer-title {
    position: absolute;
    font-family: 'dense', sans-serif;
    font-size: 2.2em;
    bottom: 10px;
    margin: 0; }
  .offer-grid .offer-graphic.right {
    text-align: right; }
    .offer-grid .offer-graphic.right .offer-title {
      right: 10px; }
  .offer-grid .offer-graphic.left {
    text-align: left; }
    .offer-grid .offer-graphic.left .offer-title {
      left: 10px; }
  .offer-grid .offer-graphic.light {
    color: #ffffff; }
  .offer-grid .offer-graphic.dark {
    color: #53585a; }

.offer-grid .offer-details .offer-title {
  color: #66cce8;
  font-size: 1.5em;
  margin-top: 10px; }

.offer-grid .offer-details .builder-btn {
  color: #53585a;
  font-family: 'brandon-regular', sans-serif;
  font-size: 1em;
  padding-left: 0; }
  .offer-grid .offer-details .builder-btn .fa {
    font-size: 0.8em;
    color: #66cce8; }

.runbarefoot-contents {
  padding-top: 40px;
  padding-bottom: 40px; }
  .runbarefoot-contents .runbarefoot-left {
    color: #53585a; }
    .runbarefoot-contents .runbarefoot-left h1 {
      font-family: 'brandon-regular', sans-serif;
      color: #053540;
      font-size: 2.75em; }
    .runbarefoot-contents .runbarefoot-left h2 {
      font-family: 'brandon-regular', sans-serif;
      color: #43c0b3;
      font-size: 1.75em;
      margin-bottom: 25px; }
    .runbarefoot-contents .runbarefoot-left h3 {
      font-family: 'brandon-regular', sans-serif;
      color: #ffffff;
      font-size: 1.5em;
      margin: 60px 15% 15px 0;
      padding: 10px 0 10px 25px;
      background: #053540; }
    .runbarefoot-contents .runbarefoot-left p {
      font-size: 1.05em;
      padding-right: 15%; }
      .runbarefoot-contents .runbarefoot-left p a {
        color: #43c0b3; }
    .runbarefoot-contents .runbarefoot-left ul {
      margin-left: 25px;
      margin-bottom: 25px; }
    .runbarefoot-contents .runbarefoot-left .register {
      color: #053540; }
      .runbarefoot-contents .runbarefoot-left .register .register-btn {
        background: #cbdb2a;
        color: #053540;
        font-family: 'brandon-regular', sans-serif;
        border-radius: 4px;
        margin-right: 15px; }
        .runbarefoot-contents .runbarefoot-left .register .register-btn:hover {
          color: #ffffff; }
  .runbarefoot-contents .runbarefoot-sidebar {
    padding-top: 110px; }
    .runbarefoot-contents .runbarefoot-sidebar .sidebar-title {
      font-family: 'brandon-regular', sans-serif;
      font-size: 1.5em;
      color: #053540; }
  .runbarefoot-contents .register-btn {
    background: #cbdb2a;
    color: #053540;
    font-family: 'brandon-regular', sans-serif;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 15px; }
    .runbarefoot-contents .register-btn:hover {
      color: #ffffff; }

.page-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
  background: #000000;
  opacity: 0;
  transition: opacity 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  display: none; }
  .page-mask.show {
    opacity: 0.8;
    display: block; }

.page-popup {
  position: fixed;
  width: 80%;
  z-index: 1001;
  background: #ffffff;
  opacity: 0;
  transition: opacity 1000ms cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border: 1px solid #b7b7b7;
  text-align: center;
  display: none; }
  .page-popup.visible {
    opacity: 1;
    display: block; }
  .page-popup #boxClose {
    position: absolute;
    right: 15px;
    top: 10px; }
  .page-popup h1, .page-popup h2 {
    font-family: 'brandon-regular', sans-serif; }
  .page-popup .popup-title {
    color: #053540;
    font-size: 2em; }
  .page-popup .popup-subtitle {
    color: #43c0b3;
    font-size: 1.5em;
    margin-bottom: 20px; }

.pathfinder-form form .form-group label {
  font-family: 'brandon-regular', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase; }

.pathfinder-form form .form-group.left .one-half {
  width: 48%;
  float: right; }
  .pathfinder-form form .form-group.left .one-half.alpha {
    float: left; }

.pathfinder-form form .form-group .one-four.last-four {
  float: right; }

.pathfinder-form form input[type=radio], .pathfinder-form form input[type=checkbox] {
  cursor: pointer; }

.pathfinder-form form input[type=checkbox]:not(old):checked + label > span:before {
  content: '';
  display: block;
  width: 1em;
  color: #66cce8;
  font-size: .875em;
  line-height: 1em;
  text-align: center;
  text-shadow: 0 0 0.714em #9b994d; }

.pathfinder-form form input[type=radio]:not(old):checked + label > span > span {
  display: block;
  width: 1em;
  height: 1em;
  margin: 0;
  border: 0.0625em solid #66cce8;
  border-radius: 2em;
  background: #66cce8; }

.pathfinder-form form input[type=checkbox]:not(old):checked + label > span > span {
  display: block;
  width: 1em;
  height: 1em;
  margin: 0;
  border: 0.0625em solid #66cce8;
  border-radius: .125em;
  background: #66cce8; }

.pathfinder-form form .normal-btn {
  font-size: 1em; }

.pathfinder-sidebar .message-group p {
  font-size: 0.9em; }

.explore-sections .explore-section,
.explore-sections .explore-field-guide {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 25px; }
  .explore-sections .explore-section .explore-title,
  .explore-sections .explore-field-guide .explore-title {
    font-size: 1.3em;
    color: #66cce8; }
  .explore-sections .explore-section p,
  .explore-sections .explore-field-guide p {
    font-size: .9em;
    line-height: 1.4em; }
  .explore-sections .explore-section a,
  .explore-sections .explore-field-guide a {
    color: #66cce8 !important; }
    .explore-sections .explore-section a .fa,
    .explore-sections .explore-field-guide a .fa {
      color: #66cce8; }

.explore-sections .explore-field-guide a {
  font-size: .9em; }

/*** FOOTER ***/
.footer-quicklinks {
  padding: 20px 0;
  text-align: center; }
  .footer-quicklinks .col-md-3 {
    padding-top: 25px;
    padding-bottom: 25px;
    border-right: 1px solid #53585a; }
    .footer-quicklinks .col-md-3:last-child {
      border-right: none; }
  .footer-quicklinks a {
    color: #53585a;
    display: block;
    text-transform: uppercase;
    font-family: 'brandon-bold', sans-serif; }
    .footer-quicklinks a .fa {
      padding-right: 5px; }
    .footer-quicklinks a:hover {
      color: #abb1b3; }

.footer {
  padding-top: 30px;
  padding-bottom: 50px; }
  .footer strong {
    font-family: 'brandon-regular', sans-serif;
    color: #53585a; }
  .footer ul {
    list-style: none; }
    .footer ul.footer-menu {
      text-transform: lowercase;
      font-size: 0.9em; }
      .footer ul.footer-menu a {
        color: #53585a; }
        .footer ul.footer-menu a:hover {
          color: #ffffff; }
  .footer .home-menu {
    margin: 0 auto;
    padding-left: 20px; }
  .footer .footer-right p {
    clear: both;
    text-align: right; }
    .footer .footer-right p.directions {
      font-size: 0.9em;
      line-height: 1.15em; }
    .footer .footer-right p.copyright {
      font-size: 0.8em;
      margin: 0 0 10px;
      line-height: 1.25em; }
      .footer .footer-right p.copyright a {
        color: #53585a; }
        .footer .footer-right p.copyright a:hover {
          color: #ffffff; }
  .footer .footer-right .footer-social {
    text-align: right;
    width: 100%;
    clear: both; }
    .footer .footer-right .footer-social li {
      display: inline-block;
      margin-left: 0; }
      .footer .footer-right .footer-social li a {
        color: #53585a; }
        .footer .footer-right .footer-social li a:hover {
          color: #abb1b3; }

/*** MODAL STYLES ***/
.modal {
  background: rgba(0, 0, 0, 0.5); }
  .modal .modal-dialog {
    top: 10%; }
    .modal .modal-dialog .modal-header h4 {
      color: #66cce8;
      text-align: left; }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
/* Tablets (iPad Landscape) */
@media only screen and (max-width: 1024px) {
  .navbar-default {
    min-height: 90px; }
    .navbar-default .navbar-left img {
      padding: 15px 0; }
    .navbar-default .navbar-nav {
      font-size: 21px;
      bottom: -29px; }
      .navbar-default .navbar-nav li a {
        padding: 15px 18px; }
      .navbar-default .navbar-nav .dropdown-menu {
        top: 50px;
        font-size: 21px; }
        .navbar-default .navbar-nav .dropdown-menu li a {
          padding: 15px 18px; }
  .homepage-builders .builder h1 {
    font-size: 1em; }
  .homepage-builders .builder p {
    font-size: 0.9em; }
  .homepage-promos .carousel-caption {
    width: 50%; }
    .homepage-promos .carousel-caption .promo-title {
      font-size: 5em; }
  .homepage-promos .carousel-controls {
    top: 85%; }
  .homebuilder-section .homebuilder-sidebar .blue-text {
    font-size: 0.9em; }
  .homebuilder-section .homebuilder-sidebar .hours {
    font-size: 0.9em; }
  .homebuilder-section .homebuilder-sidebar .pricing {
    font-size: 1em; }
  .homebuilder-section .homebuilder-sidebar .normal-btn {
    font-family: 'brandon-regular', sans-serif; }
  .page-contents .builder-list .builder h1 {
    font-size: 0.9em; }
  .page-contents .builder-list .builder p {
    font-size: 0.85em; }
  .page-contents .builder-list .builder a {
    font-size: 0.9em; }
  .explore-sections .explore-section,
  .explore-sections .explore-field-guide {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 25px;
    /*
			a { text-transform: uppercase; color: $darkgray;
				.fa { color: $lightblue; }
			}
*/ }
    .explore-sections .explore-section .explore-title,
    .explore-sections .explore-field-guide .explore-title {
      font-size: 1.1em;
      color: #66cce8; }
    .explore-sections .explore-section p,
    .explore-sections .explore-field-guide p {
      font-size: .9em;
      line-height: 1.4em; }
  .explore-sections .explore-field-guide a {
    font-size: .9em; } }

/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar-header {
    float: none; }
  .navbar-left, .navbar-right {
    float: none !important; }
  .navbar-toggle {
    display: block; }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }
  .navbar-collapse.collapse {
    display: none !important; }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }
  .navbar-nav > li {
    float: none; }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }
  .collapse.in {
    display: block !important; }
  .navbar-toggle {
    margin-top: 30px; }
  .navbar-default .navbar-collapse {
    border: none; }
  .navbar-default .navbar-nav {
    margin-top: 0;
    bottom: 0; }
    .navbar-default .navbar-nav .dropdown-menu {
      top: 50px; }
      .navbar-default .navbar-nav .dropdown-menu li a {
        color: #ffffff !important; }
  .homepage-promos .carousel-caption {
    width: 50%; }
    .homepage-promos .carousel-caption .promo-title {
      font-size: 3em; }
    .homepage-promos .carousel-caption p {
      font-size: 1em; }
  .homepage-promos .carousel-controls {
    top: 80%; }
  .homebuilder-section .homebuilder-sidebar {
    margin-top: 30px; }
  .homebuilder-qmis .builder-homes .builder-home {
    margin-bottom: 20px; }
  .page-contents .builder-list .builder h1 {
    font-size: 1.18em; }
  .page-contents .builder-list .builder p {
    font-size: 1.1em; }
  .page-contents .builder-list .builder a {
    font-size: 1em; }
  .footer-quicklinks a {
    font-size: 0.9em; }
  .footer-right {
    padding-top: 30px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 667px) {
  .navbar-left {
    display: block;
    width: 300px;
    margin-left: 15px; }
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100%; }
  .navbar {
    background: #000000; }
    .navbar.navbar-default {
      min-height: auto; }
    .navbar .navbar-toggle {
      margin-top: 25px; }
    .navbar .navbar-left {
      width: 250px; }
    .navbar .navbar-nav {
      text-align: left;
      position: auto; }
      .navbar .navbar-nav li {
        display: block; }
  .homepage-hero {
    margin-top: 80px; }
  .homepage-promos .carousel-caption {
    width: 50%; }
    .homepage-promos .carousel-caption .promo-title {
      font-size: 2em; }
    .homepage-promos .carousel-caption p {
      font-size: 1em; }
    .homepage-promos .carousel-caption .promo-btns .btn {
      font-size: 1.2em; }
    .homepage-promos .carousel-caption a {
      font-size: 1.2em; }
  .homepage-promos .carousel-controls {
    top: 80%; }
  .homepage-builders .builder {
    text-align: center; }
  .homes-hero {
    margin-top: 60px; }
  .page-contents .builder-list .builder {
    text-align: center; }
  .footer-quicklinks a {
    font-size: 0.8em; }
  .footer .col-sm-12 {
    clear: both; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  .homepage-promos .carousel {
    display: none; }
  .homepage-builders .builder {
    text-align: left; }
    .homepage-builders .builder h1, .homepage-builders .builder p {
      font-size: 0.8em; }
    .homepage-builders .builder p {
      line-height: 1.4em; }
      .homepage-builders .builder p em {
        padding-top: 5px; }
  .homes-hero .hero-caption {
    bottom: 0; }
    .homes-hero .hero-caption .hero-title {
      font-size: 4em; }
  .page-contents .builder-list .builder {
    text-align: left; }
  .footer-quicklinks,
  .footer-menus {
    display: none; }
  .footer .footer-right p.copyright {
    text-align: center; }
    .footer .footer-right p.copyright .alignright {
      float: none;
      display: block;
      margin: 0 auto 10px; }
  .modal-dialog {
    width: 95%; }
  .builder-form .form-group p {
    margin: 0; }
  .builder-form .form-group .checkbox-builder {
    margin: 0 0 8px;
    float: none; }
    .builder-form .form-group .checkbox-builder label {
      font-size: 0.82em; }
  input[type=checkbox]:not(old) + label,
  input[type=radio]:not(old) + label {
    margin-left: -2.5em; } }
