/* Mixins */
/*** FONTS & FONT STYLES ***/
@font-face {
  font-family: "dense-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dense/dense-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dense/dense-regular-webfont.woff2") format("woff2"), url("../fonts/dense/dense-regular-webfont.woff") format("woff"), url("../fonts/dense/dense-regular-webfont.ttf") format("truetype"), url("../fonts/dense/dense-regular-webfont.svg#dense-regular") format("svg"); }
@font-face {
  font-family: "brandon-regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/brandon-regular/hvd_fonts_-_brandontext-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon-regular/hvd_fonts_-_brandontext-regular-webfont.woff2") format("woff2"), url("../fonts/brandon-regular/hvd_fonts_-_brandontext-regular-webfont.woff") format("woff"), url("../fonts/brandon-regular/hvd_fonts_-_brandontext-regular-webfont.ttf") format("truetype"), url("../fonts/brandon-regular/hvd_fonts_-_brandontext-regular-webfont.svg#brandon-regular") format("svg"); }
@font-face {
  font-family: "brandon-bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/brandon-bold/hvd_fonts_-_brandontext-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon-bold/hvd_fonts_-_brandontext-bold-webfont.woff2") format("woff2"), url("../fonts/brandon-bold/hvd_fonts_-_brandontext-bold-webfont.woff") format("woff"), url("../fonts/brandon-bold/hvd_fonts_-_brandontext-bold-webfont.ttf") format("truetype"), url("../fonts/brandon-bold/hvd_fonts_-_brandontext-bold-webfont.svg#brandon-bold") format("svg"); }
@font-face {
  font-family: "brandon-black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/brandon-black/hvd_fonts_-_brandontext-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon-black/hvd_fonts_-_brandontext-black-webfont.woff2") format("woff2"), url("../fonts/brandon-black/hvd_fonts_-_brandontext-black-webfont.woff") format("woff"), url("../fonts/brandon-black/hvd_fonts_-_brandontext-black-webfont.ttf") format("truetype"), url("../fonts/brandon-black/hvd_fonts_-_brandontext-black-webfont.svg#brandon-black") format("svg"); }
h1, h2, h3, h4, h5, h6 {
  font-family: 'brandon-bold', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0; }

/*** COLORS ***/
/*** BASE STYLES ***/
body {
  font: 15px/26px 'brandon-regular', sans-serif;
  color: #504a40; }

strong,
.strong {
  font-family: 'brandon-bold', sans-serif; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 15px; }

a,
a:visited,
a:hover,
a:active {
  text-decoration: none; }

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.alignnone, img.alignnone {
  float: none !important;
  margin: 0 0 15px; }

.alignleft, img.alignleft {
  float: left;
  margin: 0 15px 15px 0; }

.alignright, img.alignright {
  float: right;
  margin: 0 0 15px 15px; }

.aligncenter, img.aligncenter {
  float: none;
  display: block;
  margin: 0 auto 15px; }

.alignhero, img.alignhero {
  float: none;
  display: block;
  margin: 0 auto; }

/*** BUTTONS ***/
.btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: 'brandon-bold', sans-serif;
  padding: 6px 25px;
  font-size: 1.1em; }

.blue-btn {
  background: #36bfb3;
  color: #ffffff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  padding-left: 30px;
  padding-right: 30px; }

.blue-btn:hover {
  background: #28a196;
  color: #ffffff; }

/* Mixins */
*, html, body {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  max-width: 1600px;
  margin: 0 auto; }

.clearfix {
  clear: both; }

/*** HEADER & NAVIGATION ***/
.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none; }

.navbar-fixed-top {
  /* top: 10px; */ }

.navbar-nav {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  float: none;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font: normal 24px/26px 'dense-regular', sans-serif; }
  .navbar-nav li {
    float: none;
    display: inline-block; }

.navbar-default .navbar-nav li a {
  color: #ffffff;
  padding: 20px 30px; }
.navbar-default .navbar-nav li a:focus {
  color: #ffffff; }
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav .active a,
.navbar-default .navbar-nav .active a:focus,
.navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav .active a:active {
  color: #36bfb3;
  background: none; }
.navbar-default .navbar-nav li a:visited {
  color: #ffffff; }

.navbar-default .navbar-toggle {
  border-color: #ffffff; }

.navbar-default .navbar-toggle .icon-bar {
  background: #ffffff; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background: none;
  border-color: #36bfb3; }

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
  background: #36bfb3; }

/*** COMMUNITY SECTION ***/
.community-message {
  position: relative; }

.community-bg {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0; }

.community-med {
  display: none; }

.message-contents,
.community-story,
.community-logos {
  padding: 60px 0 56px;
  position: relative; }

.message-contents h1,
.community-story h1 {
  color: #36bfb3;
  font-size: 1.6em; }

.message-contents p,
.community-story p {
  font-size: 1.1em; }

.join-link {
  color: #231f20;
  font-family: 'brandon-bold', sans-serif;
  font-size: 1.2em; }

.join-link a {
  text-transform: uppercase;
  text-decoration: underline;
  color: #231f20; }

.join-link a:hover {
  text-decoration: none;
  color: #231f20; }

.community-story p {
  margin: 25px 0; }

.community-story p strong {
  text-transform: uppercase;
  font-size: 1.3em;
  color: #36bfb3; }

/*** HOMES SECTION ***/
.homes-section {
  margin-top: 10px; }

.homes-message {
  background: #ffffff url(../images/homesbg-big.jpg) no-repeat left top; }

.homes-message-content {
  padding: 230px 0 80px 30px; }

.homes-message-content h1 {
  font-size: 1.6em;
  color: #36bfb3;
  margin: 20px 0 15px;
  line-height: 1.3em; }

.homes-message-content p {
  font-size: 1.1em; }

.homes-builderlogos {
  padding-top: 100px; }

.homes-builderlogos img {
  margin-bottom: 20px; }

/*** JOIN US SECTION ***/
.join-section {
  float: left;
  width: 100%;
  margin-top: 10px; }

.split-container .journey-image,
.split-container .join-form {
  width: 50%;
  float: left; }

.interestlist-form {
  padding: 20px 20px 3px;
  margin-left: 10px;
  border: 2px solid #36bfb3;
  border-right: none;
  float: left;
  width: 100%; }

.interestlist-form h2 {
  text-transform: uppercase;
  color: #36bfb3;
  font-size: 1.5em;
  margin-bottom: 5px; }

.interestlist-form p {
  font-size: 1.1em; }

.interestlist-form p.small {
  font-size: 0.9em;
  margin-bottom: 0;
  font-family: 'brandon-bold', sans-serif; }

.interestlist-form label {
  font-family: 'brandon-bold', sans-serif;
  text-transform: uppercase; }

.interestlist-form input[type='text'],
.interestlist-form input[type='email'] {
  background: #e7e7e7;
  border: none; }

.interestlist-form .buttons {
  padding-top: 15px;
  margin-bottom: 0;
  float: left;
  width: 48%; }

.interestlist-form .submit-btn {
  float: right;
  margin-top: 20px; }

.left {
  float: left;
  width: 100%; }

.left .one-half {
  width: 49%;
  float: left; }

.left .one-half.alpha {
  margin-right: 15px; }

.two-four, .one-four {
  float: left;
  margin-right: 18px; }

.last-four {
  margin-right: 0; }

.two-four {
  width: 41%; }

.one-four {
  width: 27%; }

.required {
  color: #e21e24; }

.interestlist-form div.wpcf7-response-output {
  clear: both; }

.interestlist-form div.wpcf7-mail-sent-ok {
  border-color: #36bfb3; }

.interestlist-form div.wpcf7-message-mail-sent-ng {
  border-color: #e21e24; }

.join-secondaryimage {
  padding: 35px 0; }

/*** SOCIAL SECTION ***/
.social-section {
  padding: 40px 0; }

.social-section .follow-container {
  width: 35%;
  float: left; }

.social-section .events-container {
  width: 60%;
  float: left; }

.follow-container {
  padding: 20px;
  padding-left: 50px;
  border: 2px solid #36bfb3;
  border-left: none;
  margin-right: 10px; }

.follow-container h3 {
  font-size: 1.5em;
  color: #36bfb3;
  text-transform: uppercase; }

.follow-container p {
  margin: 0 0 5px; }

.follow-container .social-icons {
  list-style: none; }

.follow-container .social-icons li {
  display: inline-block;
  margin-right: 12px; }

.follow-container .social-icons li a,
.follow-container .social-icons li a:focus,
.follow-container .social-icons li a:visited {
  color: #36bfb3; }

.follow-container .social-icons li a:hover {
  color: #28a196; }

.events-container {
  padding: 20px 60px; }

.events-container h1 {
  font-size: 1.5em;
  color: #36bfb3;
  margin-bottom: 10px; }

.events-container p {
  line-height: 1.25em;
  font-size: 1.1em; }

.events-container a,
.events-container a:visited {
  color: #504a40;
  text-decoration: underline; }

.events-container a:hover {
  text-decoration: none; }

/*** FOOTER ***/
.footer {
  position: relative; }

.footer .footer-images {
  position: absolute; }

.footer-contents {
  padding-top: 390px;
  padding-bottom: 60px; }

.footer-contents .footer-logo {
  display: block;
  margin-bottom: 40px; }

.footer-contents p strong {
  font-size: 1.3em;
  color: #36bfb3;
  font-weight: normal;
  line-height: 1.1em; }

.footer-contents a.modal-btn {
  cursor: pointer; }

.footer-contents a.modal-btn,
.footer-contents a.modal-btn:visited,
.footer-contents a.modal-btn:focus {
  color: #36bfb3; }

.footer-contents a.modal-btn:hover {
  color: #e7e7e7; }

.modal-dialog {
  width: 80%;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.modal-title {
  color: #36bfb3; }

.modal-content h3 {
  font-size: 1.3em; }

.modal-content ul {
  margin-left: 30px; }

.modal-footer {
  text-align: center;
  text-transform: uppercase; }

.modal-footer .close {
  float: none;
  font-size: 1.1em; }

.scrollToTop {
  width: 60px;
  height: 60px;
  padding: 10px 14px;
  text-align: center;
  background: rgba(0, 0, 0, 0.125);
  position: fixed;
  bottom: 15px;
  display: none;
  font-size: 36px;
  border-radius: 8px; }

.scrollToTop:hover {
  text-align: none; }

.scrollToTop span.fa {
  color: rgba(0, 0, 0, 0.5); }

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1451px) {
  .homes-message-content {
    padding: 167px 0 80px 60px; }

  .homes-message {
    background: #ffffff url(../images/homesbg-med.jpg) no-repeat left top; }

  .community-big {
    display: none; }

  .community-med {
    display: block;
    opacity: 0.4; } }
@media only screen and (max-width: 1200px) {
  .homes-message-content {
    padding: 230px 0 80px 150px; }

  .split-container .journey-image,
  .split-container .join-form {
    width: 100%; }

  .interestlist-form {
    width: 98%;
    border-right: 2px solid #36bfb3; }

  .footer-contents {
    padding-top: 300px; } }
/* Tablets (iPad Landscape) */
@media only screen and (max-width: 1024px) {
  .homes-message-content {
    padding: 150px 0 80px 100px; }

  .split-container .journey-image,
  .split-container .join-form {
    width: 100%; }

  .interestlist-form .two-four {
    width: 42%; }

  .footer {
    padding-top: 0; }

  .footer-contents {
    padding-top: 250px; }

  .footer-contents .copyright {
    padding-right: 60px; } }
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .homes-message-content {
    padding: 140px 20px 0 105px; }

  .community-med {
    opacity: 0.25; }

  .interestlist-form .two-four {
    width: 40%; }

  .social-section .follow-container {
    width: 41%; }

  .social-section .events-container {
    width: 55%; }

  .events-container {
    padding: 20px 40px; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 667px) {
  .community-med {
    display: none; }

  .message-contents,
  .community-story,
  .community-logos {
    padding: 30px 0 30px;
    position: relative; }

  .message-contents h1,
  .community-story h1,
  .homes-message-content h1 {
    color: #36bfb3;
    font-size: 1.2em; }

  .message-contents p,
  .community-story p,
  .homes-message-content p {
    font-size: 1em; }

  .homes-message {
    background: none;
    padding: 30px 0; }

  .homes-message-content {
    padding: 0; }

  .split-container .join-form {
    width: 95%;
    float: none;
    margin: 0 auto; }

  .interestlist-form {
    margin-left: 0;
    float: none;
    width: 100%;
    clear: both;
    overflow: auto; }

  .interestlist-form .two-four {
    width: 100%; }

  .interestlist-form .one-four {
    width: 40%;
    padding-top: 15px; }

  .social-section {
    padding-bottom: 15px;
    padding-top: 0; }

  .social-section .follow-container {
    width: 95%;
    margin: 0 auto;
    float: none;
    border-left: 2px solid #36bfb3; }

  .social-section .events-container {
    width: 100%;
    padding: 20px; }

  .footer-contents {
    padding-top: 170px; }

  .footer-contents .copyright {
    padding-right: 0; }

  .scrollToTop {
    width: 30px;
    height: 30px;
    padding: 0 7px;
    text-align: center;
    background: rgba(0, 0, 0, 0.125);
    position: fixed;
    bottom: 15px;
    display: none;
    font-size: 18px;
    border-radius: 8px; } }
/* Custom, iPhone Retina */
