/*** 
	BFL2.0 DESIGN ELEMENTS 

	- Colors
***/

/* Colors */
$lightblue:		#66cce8;
$darkblue:		#28a196;
$green:			#269574;
$brown:			#504a40;
$orange:		#f68b20;
$red:			#c51e24;
$lightgray:		#abb1b3;
$darkgray:		#53585a;
$red:			#e21e24;
$white:			#ffffff;
$black:			#000000;
