@import 'design';

/*** BASICS ***/
body { 
	
}
//h1,h2,h3,h4,h5,h6 { color: $lightblue; }

.nopadding { padding: 0 !important; }

/*** NAVIGATION / HEADER ***/
.navbar-default { 
	.navbar-left {
		img { padding: 15px 0; }
	}
	.navbar-nav { margin-top: 15px; position: relative; bottom: -14px; font-size: 24px;
		li {
			a { padding: 23px 30px 22px; cursor: pointer; 
				&:focus {  }
				&:hover { color: $lightblue; }
				.fa { font-size: 0.55em; position: relative; bottom: 4px; }
			}
			&.last {
				a { /* color: $lightblue; */ }
			}
			&.active {
				a { color: $lightblue !important; background: none; 
					&:hover { background: none; }
				}
			}
			&.current-menu-parent { 
				a { color: $lightblue; }
				li {
					a { color: $white; }
				}
			}
		}
		.open {
			a:hover    { color: $lightblue; }
		}
		.dropdown-menu { top: 65px; font-size: 24px;
			li {
				a { padding-top: 15px; padding-bottom: 15px; }
			}
		}
	}
}

/*** HOMEPAGE BUILDERS ***/
.homepage-builders { padding: 20px 0; 
	.builder { text-align: left; 
		.aligncenter { margin-bottom: 15px; }
		h1 { font-size: 1.3em; margin: 0; }
		p { margin-bottom: 5px;
			strong { font-weight: normal; text-transform: uppercase; font-family: 'brandon-regular', sans-serif; }
			em { font-family: 'brandon-bold', sans-serif; color: $lightgray; text-transform: uppercase; font-style: normal; }
		}
		a { color: $darkgray; text-transform: uppercase; font-size: 0.9em; 
			.blue-txt { color: $lightblue; }
			&:hover   { color: $lightgray; }
		}
	}
}

/*** HOMEPAGE PROMOTIONS ***/
.homepage-promos { position: relative;
	.carousel-controls { position: absolute; top: 88%; width: 100%; height: 60px; text-align: center;
		.carousel-control { width: 5%; background: none;
			&.left  { left: 45%; }
			&.right { right: 45%; }
		}
	}
	.carousel-caption { width: 35%; bottom: 18%; padding-top: 0; padding-bottom: 0; font-family: 'dense-regular', sans-serif; text-shadow: none;
		&.left  { text-align: left; right: auto; left: 2.5%; }
		&.right { text-align: right; right: 2.5%; left: auto; }
		&.light { color: $white; 
			.default-btn { background: $white; color: $darkgray; }
			.outline-btn { background: transparent; color: $white; border: 1px solid $white; }
		}
		&.dark  { color: $darkgray; 
			.default-btn { background: $darkgray; color: $white; }
			.outline-btn { background: rgba(255,255,255,0.6); color: $darkgray; border: 1px solid $darkgray; }
			a { color: $darkgray; }
		}
		.promo-title { font-size: 7.25em; line-height: 0.8em; margin: 0 0 12px; font-family: 'dense-regular', sans-serif; }
		p { font-size: 1.5em; line-height: 1.25em; font-weight: lighter; }
		a { text-transform: uppercase; font-size: 1.5em; color: $white; 
			.fa { font-size: 0.7em; color: $lightblue; position: relative; top: -2px; padding-right: 4px; }
		}
		.promo-btns { margin-top: 15px; 
			.btn { border-radius: 0; font-family: 'dense-regular', sans-serif; font-size: 1.5em; padding-left: 25px; padding-right: 25px; margin-left: 10px;
				&:hover { opacity: 0.5; }
			}
		}
	}
	
}

.builder-form { border: none; margin: 0; padding: 0; 
	h2 { color: $lightblue; }
	p  { font-family: 'brandon-regular', sans-serif; font-size: 1em; }
	
	.form-group {
		.row { margin-bottom: 12px; }
		label { color: $darkgray; font-family: 'brandon-regular', sans-serif; font-size: 0.9em;  
			.red,
			.required { color: $lightblue; }
		}
		.form-control { color: $darkgray; }
	}
	input[type=checkbox]:not(old):checked + label > span:before { content: ''; display: block; width: 1em; color: $lightblue; font-size: .875em; line-height: 1em; text-align: center; text-shadow: 0 0 0.714em rgba(0155,153,77,1); }
	input[type=radio]:not(old):checked + label > span > span { display: block; width: 1em; height: 1em; margin: 0; border: .0625em solid $lightblue; border-radius: 2em;
		background: $lightblue; }
	input[type=checkbox]:not(old):checked + label > span > span { display: block; width: 1em; height: 1em; margin: 0; border: .0625em solid $lightblue; border-radius: .125em;
		background: $lightblue; }
	.normal-btn { font-size: 1.2em; }
	.required-text { text-transform: uppercase; font-size: 0.95em; 
		.red { color: $lightblue; }
	}
}

/*** BUILDER PAGES ***/
.page-hero { 
	.hero-caption { left: 15px; right: auto; }
	.builder-caption { text-align: left; }
}
.transition-timer-carousel-progress-bar { height: 4px; background-color: $lightblue; width: 0%; margin: 0; border: none; z-index: 11; position: relative; opacity: 0.5; bottom: 4px; }
.carousel-fade {
	.carousel-inner {
		.item { transition-property: opacity; }
		.item,
		.active.left,
		.active.right { opacity: 0; }
		.active,
		.next.left,
		.prev.right { opacity: 1; }
		.next,
		.prev,
		.active.left,
		.active.right { left: 0; transform: translate3d(0,0,0); }
	}
}


.homebuilder-section {
	.homebuilder-models {
		#model-carousel {
			.carousel-indicators { margin: 10px 0 0; overflow: auto; position: static; text-align: left; white-space: nowrap; width: 100%;
				li { background: transparent; border-radius: 0; display: inline-block; height: auto; margin: 0 !important; width: auto; position: relative;
					img { display: block; }
					.thumb-mask { background: $black; opacity: 0.75; position: absolute; top: 0; width: 100%; height: 100%; z-index: 1; transition: opacity 0.2s ease 0.2s; }
					&:hover, &.active {
						.thumb-mask { opacity: 0; }
					}
					
				}
			}
			.carousel-caption { text-align: left; padding-left: 15px; left: 0%; right: 0; bottom: 0; padding-bottom: 20px; line-height: 1.45em; text-shadow: none; 
				background: rgba(13,12,12,0.88); /* Old browsers */
				background: -moz-linear-gradient(top,  hsla(0,5%,5%,0) 0%, hsla(0,5%,5%,0.88) 80%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  hsla(0,5%,5%,0) 0%,hsla(0,5%,5%,0.88) 80%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  hsla(0,5%,5%,0) 0%,hsla(0,5%,5%,0.88) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsla(0,5%,5%,0.35)', endColorstr='hsla(0,5%,5%,0.88)',GradientType=0 ); /* IE6-9 */
				strong { font-family: 'brandon-bold', sans-serif; text-transform: uppercase; font-size: 1.1em; font-weight: normal; }
				.details {
					p { margin: 4px 0 0; }
				}
			}
		}
	}
	.homebuilder-sidebar { padding-left: 4%; padding-right: 4%; // background: yellow;
		.blue-txt { color: $lightblue; }
		.hours { 
			.blue-txt { color: $darkgray; font-family: 'brandon-medium', sans-serif; }
		}
		.pricing { color: $lightgray; }
		.builder-btn { color: $darkgray; text-transform: uppercase;
			.fa { color: $lightblue; position: relative; top: -0px; font-size: 0.8em; }
			&:hover { color: $lightgray; }
		}	
	}
}
.homebuilder-contents { 
	h2 { color: $lightblue; }
}

.homebuilder-qmis { padding-bottom: 50px;
	.quickmove-intro { padding-bottom: 25px;
		h1 { color: $lightblue; font-size: 1.5em; }
		p  { font-size: 1.05em; padding-right: 5%; }
	}
	.builder-homes {
		.builder-home { font-size: 0.9em; line-height: 1.45em; text-align: center;
			strong { text-transform: uppercase; font-family: 'brandon-medium', sans-serif; font-weight: normal; font-size: 1.1em; color: $lightblue; }
			.address-price { font-family: 'brandon-medium', sans-serif; color: $darkgray; 
				strong { color: $lightgray; }
			}
			.builder-btn { color: $darkgray; text-transform: uppercase;
				.fa { color: $lightblue; position: relative; top: -1px; font-size: 0.8em; }
				&:hover { color: $lightgray; }
			}
		}
	}
}

/*** SUBPAGES ***/
.homes-hero { position: relative;
	.hero-caption { position: absolute; text-align: right; bottom: 15px; right: 15px !important; left: auto !important; 
		.hero-title { font-family: 'dense-regular', sans-serif; font-size: 6em; color: #ffffff; }
	}
}

.page-contents { 
	.page-title,
	.page-subtitle { color: $lightblue; }
	.page-subtitle { font-size: 1.65em; text-align: left; }
	
	a { color: $lightblue; text-transform: uppercase; font-size: 1em;
			.fa { font-size: 0.8em; color: $lightblue; }
			.blue-txt { color: $lightblue; }
			&:hover   { color: $lightgray; }
		}
			
	// Builder List
	.builder-list {
		.builder { text-align: left; 
			.aligncenter { margin-bottom: 15px; }
			h1 { font-size: 1.18em; margin: 0; }
			p { margin-bottom: 5px;
				strong { font-weight: normal; text-transform: uppercase; font-family: 'brandon-regular', sans-serif; }
				em { font-family: 'brandon-bold', sans-serif; color: $lightgray; text-transform: uppercase; font-style: normal; }
			
				&.builder-hours { font-size: 0.9em; line-height: 1.25em; text-align: left; }
			}
			a { color: $darkgray; text-transform: uppercase; font-size: 1em;
				.fa { font-size: 0.8em; }
				.blue-txt { color: $lightblue; }
				&:hover   { color: $lightgray; }
			}
		}
	}
	
	.quickmove-table {
		.builder-header {
			.builder-description { padding-top: 15px; 
				.builder-name { font-size: 1.1em; }
				span { font-size: 0.9em; 
					&.phone { color: $lightgray; }
				}
			}
		}
		.builder-homes {
			.builder-home { font-size: 0.9em; line-height: 1.45em; text-align: center;
				strong { font-size: 1.1em; text-transform: uppercase; font-family: 'brandon-medium', sans-serif; font-weight: normal; color: $lightblue; }
				.address-price { font-family: 'brandon-medium', sans-serif; color: $darkgray; 
					strong { color: $lightgray; font-size: 0.9em; }
				}
				.builder-btn { color: $darkgray; text-transform: uppercase;
					.fa { color: $lightblue; position: relative; top: -1px; font-size: 0.8em; }
					&:hover { color: $lightgray; }
				}
			}
		}
	}
}

.page-events { padding-bottom: 50px;
	.event { text-align: center;
		img.aligncenter { margin-bottom: 15px; }
		.event-details { padding-left: 5%; padding-right: 5%;
			.event-title { color: $lightblue; font-size: 1.2em; margin: 12px 0; }
			.event-btn { color: $darkgray; text-transform: uppercase;
				.fa { color: $lightblue; position: relative; top: -1px; font-size: 0.8em; }
				&:hover { color: $lightgray; }
			}
		}
	}
}

.offer-grid {
	.offer-row { margin-bottom: 40px; }
	.offer-graphic { position: relative;
		.offer-title { position: absolute; font-family: 'dense', sans-serif; font-size: 2.2em; bottom: 10px; margin: 0; }
		&.right { text-align: right; 
			.offer-title { right: 10px; }
		}
		&.left  { text-align: left; 
			.offer-title { left: 10px; }
		}
		&.light { color: $white; }
		&.dark	{ color: $darkgray; }
	}
	.offer-details { 
		.offer-title { color: $lightblue; font-size: 1.5em; margin-top: 10px; }
		.builder-btn { color: $darkgray; font-family: 'brandon-regular', sans-serif; font-size: 1em; padding-left: 0;
			.fa { font-size: 0.8em; color: $lightblue; }
		}
	}
}


// Contact Form Styles
.pathfinder-form {
	form {
		.form-group {
			label { font-family: 'brandon-regular', sans-serif; font-size: 0.9em; text-transform: uppercase; }
			&.left .one-half { width: 48%; float: right; 
				&.alpha { float: left; }
			}
			.one-four {
				&.last-four { float: right; }
			}
		}
		input[type=radio], input[type=checkbox] { cursor: pointer; }
		input[type=checkbox]:not(old):checked + label > span:before { content: ''; display: block; width: 1em; color: $lightblue; font-size: .875em; line-height: 1em; text-align: center; text-shadow: 0 0 0.714em rgba(0155,153,77,1); }
		input[type=radio]:not(old):checked + label > span > span { display: block; width: 1em; height: 1em; margin: 0; border: .0625em solid $lightblue; border-radius: 2em;
			background: $lightblue; }
		input[type=checkbox]:not(old):checked + label > span > span { display: block; width: 1em; height: 1em; margin: 0; border: .0625em solid $lightblue; border-radius: .125em;
			background: $lightblue; }
		.normal-btn { font-size: 0.9em; }
	}
}
.pathfinder-sidebar {
	.message-group {
		p { font-size: 0.9em; }
	}
}

// Explore
.explore-sections {
	.explore-section, 
	.explore-field-guide { text-align: center; padding-left: 5px; padding-right: 5px; margin-bottom: 25px;
		.explore-title { font-size: 1.3em; color: $lightblue; }
		p { font-size: .9em; line-height: 1.4em; }
		a { color: $lightblue !important; 
			.fa { color: $lightblue; }
		}
	}
	.explore-field-guide {
		a { font-size: .9em; }
	}
}

/*** FOOTER ***/
.footer-quicklinks { padding: 20px 0; text-align: center; 
	.col-md-3 { padding-top: 25px; padding-bottom: 25px; border-right: 1px solid $darkgray;
		&:last-child { border-right: none; }
	}
	a { color: $darkgray; display: block;  text-transform: uppercase; font-family: 'brandon-bold', sans-serif; 
		.fa { padding-right: 5px; }
		&:hover { color: $lightgray; }
	}
}
.footer { padding-top: 30px; padding-bottom: 50px; 
	strong { font-family: 'brandon-regular', sans-serif; color: $darkgray; }
	ul { list-style: none; 
		&.footer-menu { text-transform: lowercase; font-size: 0.9em; 
			a { color: $darkgray; 
				&:hover { color: $white; }
			}
		}
	}
	.home-menu { margin: 0 auto; padding-left: 20px; }
	
	.footer-right {
		p { clear: both; text-align: right; 
			&.directions { font-size: 0.9em; line-height: 1.15em; }
			&.copyright  { font-size: 0.8em; margin: 0 0 10px; line-height: 1.25em; 
				a { color: $darkgray; 
					&:hover { color: $white; }
				}
			}
		}
		.footer-social { text-align: right; width: 100%; clear: both; 
			li { display: inline-block; margin-left: 0; 
				a { color: $darkgray; 
					&:hover { color: $lightgray; }
				}
			}
		}
	}
}

/*** MODAL STYLES ***/
.modal { background: rgba(0,0,0,0.5); 
	.modal-dialog { top: 10%; 
		.modal-header {
			h4 { color: $lightblue; text-align: left; }
		}
		.modal-body {
			
		}
	}
}

/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

/* Tablets (iPad Landscape) */
@media only screen and (max-width : 1024px) {
	//Navbar
	.navbar-default { min-height: 90px; 
		.navbar-left {
			img { padding: 15px 0; }
		}
		.navbar-nav { font-size: 21px; bottom: -29px;
			li {
				a { padding: 15px 18px; }
			}
			.dropdown-menu { top: 50px; font-size: 21px;
				li {
					a { padding: 15px 18px; }
				}
			}
		}
	}
	
	//Homepage
	.homepage-builders {
		.builder {
			h1 { font-size: 1em; }
			p  { font-size: 0.9em; }
		}
	}
	.homepage-promos {
		.carousel-caption { width: 50%; 
			.promo-title { font-size: 5em; }
		}
		.carousel-controls { top: 85%; }
	}
	
	//Homebuilder Details
	.homebuilder-section {
		.homebuilder-sidebar {
			.blue-text { font-size: 0.9em; }
			.hours { font-size: 0.9em; }
			.pricing { font-size: 1em; }
			
			.normal-btn { font-family: 'brandon-regular', sans-serif; }
		}
	}
	
	//Page Styles
	.page-contents {
		.builder-list {
			.builder {
				h1 { font-size: 0.9em; }
				p  { font-size: 0.85em; }
				a  { font-size: 0.9em; }
			}
		}
	}
	
	// Explore
	.explore-sections {
		.explore-section, 
		.explore-field-guide { text-align: center; padding-left: 5px; padding-right: 5px; margin-bottom: 25px;
			.explore-title { font-size: 1.1em; color: $lightblue; }
			p { font-size: .9em; line-height: 1.4em; }
/*
			a { text-transform: uppercase; color: $darkgray; 
				.fa { color: $lightblue; }
			}
*/
		}
		.explore-field-guide {
			a { font-size: .9em; }
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	//Collapse Navbar at Tablet Portrait View
	@import 'collapse';
	.navbar-toggle  { margin-top: 30px; }
	.navbar-default {
		.navbar-collapse { border: none; }
		.navbar-nav { margin-top: 0; bottom: 0; 
			.dropdown-menu { top: 50px; 
				li {
					a { color: $white !important; }
				}
			}
		}
	}
	
	// Homepage
	.homepage-promos {
		.carousel-caption { width: 50%; 
			.promo-title { font-size: 3em; }
			p { font-size: 1em; }
		}
		.carousel-controls { top: 80%; }
	}
	
	//Homebuilder Details
	.homebuilder-section {
		.homebuilder-sidebar { margin-top: 30px; }
	}
	.homebuilder-qmis { 
		.builder-homes {
			.builder-home { margin-bottom: 20px; }
		}
	}
	
	//Page Styles
	.page-contents {
		.builder-list {
			.builder {
				h1 { font-size: 1.18em; }
				p  { font-size: 1.1em; }
				a  { font-size: 1em; }
			}
		}
	}
	
	
	.footer-quicklinks {
		a { font-size: 0.9em; }
	}
	.footer-right { padding-top: 30px;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 667px) {
	.navbar-left { display: block; width: 300px; margin-left: 15px; }
	
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse { max-height: 100%; }
	.navbar { background: $black; 
		&.navbar-default { min-height: auto; }
		.navbar-toggle { margin-top: 25px; }
		.navbar-left { width: 250px; }
		
		.navbar-nav { text-align: left; position: auto; 
			li { display: block; }
		}
		.navbar-collapse {  }
	}
	
	//Homepage
	.homepage-hero { margin-top: 80px; }
	.homepage-promos {
		.carousel-caption { width: 50%; 
			.promo-title { font-size: 2em; }
			p { font-size: 1em; }
			.promo-btns {
				.btn { font-size: 1.2em; }
			}
			a { font-size: 1.2em; }
		}
		.carousel-controls { top: 80%; }
	}
	.homepage-builders {
		.builder { text-align: center; }
	}
	
	//The Homes
	.homes-hero { margin-top: 60px; }
	.page-contents {
		.builder-list {
			.builder { text-align: center; }
		}
	}
	
	.footer-quicklinks {
		a { font-size: 0.8em; }
	}
	.footer {
		.col-sm-12 { clear: both; 
		}
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 375px) {
	
	
	
	
	.homepage-promos {
		.carousel { display: none; }
	}
	
	.homepage-builders {
		.builder { text-align: left; }
	}
	
	// Page Styles
	.homes-hero {
		.hero-caption { bottom: 0; 
			.hero-title { font-size: 4em; }
		}
	}
	.page-contents {
		.builder-list {
			.builder { text-align: left; }
		}
	}
	
	.footer-quicklinks,
	.footer-menus { display: none; }
	
	.footer {
		.footer-right {
			p.copyright { text-align: center;
				.alignright { float: none; display: block; margin: 0 auto 10px; }
			}
		}
	}
}